<!DOCTYPE html>
<html>
  <head>
    <title>chatClient.html</title>
    <meta name="content-type" content="text/html; charset=UTF-8">
    <script src="/javascripts/socket.io.js"></script>
    <script src="/javascripts/chatClient.js"></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
	<script>
	        $(function(){
	        	var $message_list = $('#message_list');
	        	var chater = new Chater(defSocketUrl, function(data){
	        		$message_list.append('<li>'+data+'</li>');
	        	});
	        	$("#send").click(function(e){
	            	var from=$('#user_name').val(), msg=$('#message').val(),to=$('#to').val();
	            	chater.send(from, to, msg);
	            });
	            $("#login").click(function(){
	            	var from=$('#user_name').val();
	            	chater.login(from, function(data){
	            		$message_list.append('<li>'+data.from+'说：'+data.msg+'</li>');
	            	});
	            });
	            $("#logout").click(function(){
	            	var from=$('#user_name').val();
	            	chater.logout(from);
	            });
	        });
	</script>
  </head>
  
  <body>
          姓名:<input id="user_name" type="text">
       <button type="button" id="login">登录</button><button type="button" id="logout">退出</button><br>
          发送给：<input type="text" id="to"><br>
          消息内容:<input type="text" id="message"><button type="button" id="send">发送</button>
   <ul id="message_list"></ul>
  </body>
</html>
    
 
 
   
