<!DOCTYPE html>
<html>
  <head>
    <title>chatClient.html</title>
    <meta name="content-type" content="text/html; charset=UTF-8">
    <script src="/javascripts/socket.io.js"></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
	<script>
	        $(function(){
	        	var $message_list = $('#message_list');
	            var socket = io.connect('http://localhost:3355');
	            socket.on('connect', function (data) {
	                console.log(data);  
	            });
	            var uin = false;
	            $("#send").click(function(e){
	            	var from=$('#user_name').val(), msg=$('#message').val(),to=$('#to').val();
	            	if(uin){
		                socket.emit('say',from,to,msg);
	            	}
	            });
	            $("#login").click(function(){
	            	if(!uin){
	            		var from=$('#user_name').val();
		            	socket.emit('login',from);
		            	if(!socket.onFrom){
			            	socket.on(from, function (data) {
			                    $message_list.append('<li>'+data.from+'说：'+data.msg+'</li>');
			                });
			            	socket.onFrom = true;
		            	}
		            	uin = true;
	            	}
	            });
	            $("#logout").click(function(){
	            	if(uin){
	            		var from=$('#user_name').val();
	            		socket.emit('logout',from);
	            		uin =false;
	            	}
	            });
	        });
	</script>
  </head>
  
  <body>
          姓名:<input id="user_name" type="text">
       <button type="button" id="login">登录</button><button type="button" id="logout">退出</button><br>
          发送给：<input type="text" id="to"><br>
          消息内容:<input type="text" id="message"><button type="button" id="send">发送</button>
   <ul id="message_list"></ul>
  </body>
</html>
    
 
 
   
